// app global css
@font-face {
  font-family: 'Jellee';
  src: url('./fonts/Jellee/Jellee-Roman.woff');
}

@font-face {
	font-family: 'HKGrotesk';
	src: url('./fonts/HK Grotesk/HKGrotesk-Regular.woff');
}

body {
	font-family: 'HKGrotesk';
}
