// app global css

// Jellee Font
@font-face {
  font-family: 'Jellee';
  src: url('./fonts/Jellee/Jellee-Roman.woff');
}

// HKGrotesk font
@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HK Grotesk/HKGrotesk-Light.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HK Grotesk/HKGrotesk-LightItalic.woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HK Grotesk/HKGrotesk-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HK Grotesk/HKGrotesk-Italic.woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HK Grotesk/HKGrotesk-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HK Grotesk/HKGrotesk-MediumItalic.woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HK Grotesk/HKGrotesk-SemiBold.woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HK Grotesk/HKGrotesk-SemiBoldItalic.woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HK Grotesk/HKGrotesk-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HK Grotesk/HKGrotesk-BoldItalic.woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HK Grotesk/HKGrotesk-ExtraBold.woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./fonts/HK Grotesk/HKGrotesk-Black.woff');
  font-weight: 900;
  font-style: italic;
}

// Style
body {
  font-family: 'HKGrotesk';
}

.breadcrumbs-text {
  font-size: 11px;
}